body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    background-color:rgb(242, 246, 214);
    font-size: 18px;
    color: rgb(95, 93, 93);
}

h1 {
    color: black;
}
nav {
    border-top: 2px solid ;
    border-bottom: 2px solid;
    
}
nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;

}

.templates ul li{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
li.template {
    margin-right: 20px;
    
}
li.template a {
    color:rgb(155, 111, 57)
}
li.template a:hover {
    color: rgb(207, 182, 23);
}
nav ul li a {
    text-decoration: none;
    
    
}

h3 {
    color: black; 
}
h4 {
    color:black)
}

.user-guide {
    list-style-type: none;
}
a{
    color: rgb(95, 93, 93);
    
}
a:visited {
    color: rgb(95, 93, 93);
}
a:hover{
    color:rgb(207, 182, 23);
}

img {
    max-width: 100%;
    height: auto;
}


footer {
    text-align: center;
    color:rgb(183, 162, 97);
    padding: 30px;
}
/* form {
    margin-top: 20px;
}

input {
    margin-right: 10px;
} */
