body {
    font-family:'Courier New', Courier, monospace ;
    
    margin: 20px;
    
    border: 4mm ridge rgba(83, 116, 115, 0.6);
    padding: 20px;
    background-color: #ebf2fe;
    font-size: 18px;
    color: black;
   

}
p {
  
}

h1 {
    color: black;
    text-align: center;
}
nav {
    border-top: 2px solid ;
    border-bottom: 2px solid;
    
}
nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;

}

.templates ul li{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
li.template {
    margin-right: 20px;
    
}
li.template a {
    color:rgb(116, 132, 127);
}
li.template a:hover {
    color: rgb(156, 184, 240);
}
nav ul li a {
    text-decoration: none;
    
    
}

h2 {
    color: black; 
    text-align: center;
}
h4 {
    color:black;
}

.user-guide {
    list-style-type: none;
}
/* a{
    color: rgb(115, 250, 214);
    
} */
a:visited {
    color: rgb(107, 103, 108);
}
a:hover{
    color:rgb(156, 184, 240);
}

img {
    max-width: 100%;
    height: auto;
}


footer {
    text-align: center;
    color:black;
    padding: 30px;
}
ol {
    text-align: left;
    margin: 20px;
}
